<ul class="nav nav-pils nav-stacked">
  <li role="presentation"
      class="{% ifequal page "search.html" %}active{%endifequal%}">
    <a href="/search">Поиск</a>
  </li>
  <li role="presentation" class="">
    <a href="{{servlet-context}}/composition">Просмотр состава</a>
  </li>
  <li role="presentation" class="">
    <a href="{{servlet-context}}/occurrence">Просмотр вхождения</a>
  </li>
  <li role="presentation" class="">
    <a href="{{servlet-context}}/diff">Просмотр различий</a>
  </li>
  <li role="presentation" class="">
    <a href="{{servlet-context}}/rare-metals">Просмотр драгметаллов</a>
  </li>
  <li role="presentation" class="">
    <a href="{{servlet-context}}/products">Продукция</a>
  </li>
</ul>
