{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>ОГК</h1>
    <p>База данных сайта не синхронизирована с основной базой
      завода и не содержит последних изменений. Последнее обновление 
      <span class="label label-success">
	{{db-update-date|date:"dd.MM.yyyy"}}</span></p>
    <p>Вы можете начать с поиска узла/детали/комплектующих.</p>
    <p><a class="btn btn-primary" href="{{serverlet-context}}/search">
	Перейти к поиску &raquo;</a></p>
  </div>
{% endblock %}
