<ul class="nav nav-pils nav-stacked">
  <li role="presentation"
      class="{% ifequal page "search.html" %}active{%endifequal%}">
    <a href="/search">Поиск</a>
  </li>
  <li role="presentation" class="">
    <a href="/composition">Просмотр состава</a>
  </li>
  <li role="presentation" class="">
    <a href="/occurrence">Просмотр вхождения</a>
  </li>
  <li role="presentation" class="">
    <a href="/diff">Просмотр различий</a>
  </li>
  <li role="presentation" class="">
    <a href="/rare-metals">Просмотр драгметаллов</a>
  </li>
  <li role="presentation" class="">
    <a href="/products">Продукция</a>
  </li>
</ul>
