<div id="floatform" class="hidden-print">
    <form class="form-inline">
        <div class="from-group">
            <input type="text" class="form-control" id="prefixfield" name="pref"
                placeholder="ОШ-450" value="{{pref}}" size="11">
            <input type="text" class="form-control" id="numfield" name="num"
                placeholder=".80.0.000.0.00" value="{{num}}" size="14">
        </div>
        <div>
            <button type="submit" class="btn btn-default"
                formaction="{{servlet-context}}/search/results">Поиск</button>
            <button type="submit" class="btn btn-default"
                formaction="{{servlet-context}}/composition/results">Состав</button>
            <button type="submit" class="btn btn-default"
                formaction="{{servlet-context}}/occurrence/results">Входимость</button>
        </div>
    </form>
</div>