.selection {
    background-color: #55ffaa;
 }

.clicked {
    background-color: #d6fe36;
}

#floatform {
    background: white;
    position:fixed;
    right:80px;
    top:58px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

#diffForm {
    background: white;
    display: none;
    position:fixed;
    right:80px;
    top:140px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

#diffForm label {
        margin: 10px;
}

#docs {
    display: none;
    position:fixed;
    right:80px;
    top:300px;
	height: 30%;
	width: 260px;
	overflow-y: auto;
}

#params {
    display: none;
    position:fixed;
    right:80px;
    bottom:2%;
	height: 30%;
	width: 260px;
	overflow-y: auto;
}

.tr-gray {
    color:gray;
}

.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td {
    border: 1px solid #bbbbbb;
}

 #popup {
    background: white;
    padding: 5px;
    display: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
 }
 
.container {
    margin-bottom: 60px;
}
#footer {
    background: white;
}

#history {
    display: none;
}
