{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-2">
    {% include "admin/left-nav-bar.html" %}
  </div>
  <div class="col-md-10">
    <h3>Список последних обновлений</h3>
       <table class="table table-condensed">
        <tr>
            <th>Id</th><th>Date</th>
        </tr>
        {% for update in updates %}
        {% comment %} TODO: remove user.id {% endcomment %}
            <tr data-id="{{user.id}}">
                <td>{{update.v_id}}</td>
                <td data-id="{{update.v_id}}">{{update.v_date}}</td>
            </tr>
        {% endfor %}
       </table>
  </div>
</div>
{% endblock %}

{% block page-scripts %}
{% script "/js/admin.js" %}
<script type="text/javascript">
  $('td[data-id]').click(cellClick);
</script>
{% endblock %}
